body, #app {
  background-color: #15202B;  
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#switch-btn {
  border: none;
  background: #1DA1F2;
  color: white;
  padding: 0.875rem 2.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  margin: 2rem auto;
  cursor: pointer;
  outline: none;
  transition: all 250ms ease-out;
  &:hover {
    background: #1A91DA;
  }
}

section {
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    color: white;
    text-decoration: none
  }
}